---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://saucedasecurity.com/</loc>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://saucedasecurity.com/posts/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://saucedasecurity.com/projects/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://saucedasecurity.com/about/</loc>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://saucedasecurity.com/contact/</loc>
    <priority>0.6</priority>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>https://saucedasecurity.com{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
</urlset>