<!DOCTYPE html>
<html lang="en">
<head>
  <!rss feed>
  <link rel="alternate" type="application/atom+xml" title="Sauceda's Security Stack" href="/feed.xml">

  <link rel="icon" type="image/x-icon" href="/Assets/images/favicon.ico">

  <meta charset="UTF-8" />
  <title>{% if title %}{{ title }} – {% endif %}Sauceda's Security Stack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Global CSS -->
  <link rel="stylesheet" href="/Assets/CSS/base.css">
  
  <!-- Post CSS -->
  <link rel="stylesheet" href="/Assets/CSS/post.css">

  <!-- Post-specific CSS -->
  {% block head %}{% endblock %}
</head>

<body>
  {% include "partials/header.njk" %}
  {% include "partials/tag-list.njk" %}

  <main>
    {{ content | safe }}
  </main>


  {% include "partials/footer.njk" %}

  {% block scripts %}{% endblock %}

<script>
  document.addEventListener('keydown', function(e) {
    if (e.ctrlKey && e.altKey && e.key === 't') {
      window.location.href = '/terminal';
    }
  });
   const toggle = document.querySelector('.nav-toggle');
  const navLinks = document.querySelector('.nav-links');

  toggle.addEventListener('click', () => {
    const isOpen = navLinks.classList.toggle('open');
    toggle.setAttribute('aria-expanded', isOpen);
  });

  // Close menu when a link is clicked
  navLinks.querySelectorAll('a').forEach(link => {
    link.addEventListener('click', () => {
      navLinks.classList.remove('open');
      toggle.setAttribute('aria-expanded', false);
    });
  });
</script>
</body>
</html>
