---
layout: layouts/base.njk
---
<article>
  <h1>{{ title }}</h1>

  <div class="path">
    <a href="/terminal" class="path-root">root</a>/<a href="/">home</a>/<a href="/projects/">projects</a>/<span class="path-current">{{ page.fileSlug }}{{ pathExtension or ".html" }}</span>
  </div>

  <div class="meta">
    <span class="date">{{ date | dateFormat }}</span>
    {% if updated %}
      <span class="date updated">Updated: {{ updated.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}</span>
    {% endif %}
    {% if tags %}
    <div class="tags">
      {% for tag in tags %}
        {% if tag != "project" and tag != "posts" %}
          <a href="#" class="tag">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
    <aside class="toc">
    <span class="toc-title">Table of Contents</span>
    <ul id="toc-list"></ul>
  </aside>

  {{ content | safe }}
</article>

<script>
  const headings = document.querySelectorAll('main h1, main h2, main h3');
  const tocList = document.getElementById('toc-list');

  headings.forEach((heading, i) => {
    if (!heading.id) heading.id = 'heading-' + i;

    const li = document.createElement('li');
    li.classList.add('toc-' + heading.tagName.toLowerCase());

    const a = document.createElement('a');
    a.href = '#' + heading.id;
    a.textContent = heading.textContent;

    li.appendChild(a);
    tocList.appendChild(li);
  });
</script>